@import "tailwindcss";
@plugin "daisyui";


body {
    /*background: url("./Images/bg.jpg");*/
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
}

.text-color {
    color: orange;
}

.banner {
    margin: auto;
    height: 12vh;
    padding: 3px;
}

.textarea::placeholder, input::placeholder {
    font-weight: 200;
    font-size: 10px
}

.dock{
    height: 10vh;

}

.sav {
    display: flex;
    height: 78vh;
    flex-direction: column;
    overflow: scroll;
}

.input_conf {
    border: 1px solid lightgray;
    /*border: 1px solid #344955;*/
}

.jaune-torchio {
    color: #f9b715;
}

.text-non-actif {
    font-weight: 200;
}